<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css"/>
		<title>Burgerlicious</title>
		<script src="/assets/js/burgerjs.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>

{{!-- type="text/css" --}}