<h1>BURGERLICIOUS</h1>
{{!-- This allows the user to add new burgers to the All Burgers list to be eaten --}}
<h2>Add Burgers to Eat</h2>
<form id="create-form">
  <div class="form-group">
    <label for="burg">Burger Name:</label>
    <input type="text" id="burg" name="name">
  </div>
  <button type="submit">Add Burger</button>
</form>

{{!-- This allows the user to "devour" a burger --}}
<h2>Time to eat!</h2>
<ul>
{{#each burgers}}
  <li>{{this.burger_name}} <button> Devour</button></li>
{{/each}}
</ul>





{{!-- <h2>Burgers Eaten</h2>
<ul>
    {{#each updateObject}}
<li><button>{{burgers}}</button></li>
    {{/each}}
</ul> --}}